<!-- Aquí se puede insertar el HTML del carrito -->
<div class="theme cart_products_section">
    <h3 class="theme  cart_title"> Caca </h3>
    <div id="cart_insert_product" class="cart_display_selected_products"></div>
</div>
<div class="theme  cart_total_section">el total es ....</div>
<div class="theme  cart_contact_data_section"> datos de contacto</div>
<div class="theme  cart_shipping_address_section">direccion de envio</div>
<button class="theme  confirm_btn" type="button">confirm</button>
<button class="theme  continue_shopping_btn" type="button">continue shopping</button>