<!-- <body>
  <div class=" container">
    <h1 class=" cart-title theme_content"> <i id="close_cart_btn" class="fa-solid  fa-xmark"></i> </h1>

    <div id="cart_product_insertion">
      
    </div>

    <div id="cart-insert-product" class="cart-display-selected-products">

    </div>

    <div class="cart-total">
      <p class="total-line">Subtotal: $</p>
      <p class="total-line">Envío: $</p>
      <p class="total-line">Total: $</p>
    </div>

    <div class="contact-data">
      <h2>Datos de Contacto</h2>
      <label for="user">Nombre(s)*</label><br>
      <input type="text" id="user"><br>
      <label for="lastName">Apellido(s)*</label><br>
      <input type="text" id="lastName"><br>
      <label for="email">Correo Electrónico*</label><br>
      <input type="email" id="email"><br>
    </div>

    <div class="shipping-address">
      <h2>Dirección de Envío</h2>
      <label for="direction">Dirección de Envío*</label><br>
      <input type="text" id="direction"><br>
      <label for="city">Ciudad de Residencia*</label><br>
      <input type="text" id="city"><br>
      <label for="code">Código Postal*</label><br>
      <input type="number" id="code"><br>
      <label for="country">País*</label><br>
      <select id="country">
        <option value="Colombia">Colombia</option>
        <option value="Mexico">México</option>
        <option value="Peru">Perú</option>
        <option value="otherCountry">Otro país</option>
      </select>
    </div>

    <div class="buttons">
      <button class="confirm-btn" type="button">Confirmar Compra</button>
      <button class="continue-shopping-btn" type="button">Continuar Comprando</button>
    </div>
  </div>
</body> -->

