<!-- Aquí se puede insertar el HTML que organiza los productos -->
<div class="products_display"" id={dsp_product_id}>
    <img class="product_img" title="product" src={dsp_product_image}>
    <p class="product_name">{dsp_product_name}</p>
    <div class="product_varintas">
        
    </div>
    <p class="price">${dsp_product_price}.00</p>
    <!-- <div class="main_product_select_container"> -->
        <p id="get_add_to_cart" class="themeContent main_product_select_btn product_view" type="button">Añadir al carrito</>
        <p id="get_view_more_details" class="themeContent main_product_select_btn product_confirm" type="button">Ver detalles</>
    <!-- </div> -->
</div>

