footer {
    width: 100%;
    height: 350px;
    background-color: var(--primary-color);
    /* border-top-left-radius: 25px;
    border-top-right-radius: 25px; */
    overflow: hidden;
    z-index: -1;
    display: flex;
    flex-direction: column-reverse;
    
}



     footer .social {
      margin: 20px;
      /* display: inline-block; */
    }
     footer .social ul {
      /* background-color: #fff; */
      height: 70px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 15px;  
      color: white;
      
    }
    .tamaño  {
          font-size: 30px;
          
    }
    .social a {
        color: white;
    }
    .social a:hover {
      color: rgb(71, 71, 190);
      scale:1.2;
      transition: all 300ms ease;
    }
   


    .footer_container{
        padding: 25px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;
    }
        .footer_container h4{
            margin-top: 20px;
            font-family: var();
            font-size: 30px;
            color: var(--color-base);
            font-family: var(--font-main-title);
            font-size: var(--size-main-title);
        }
        .footer_container h5{
            font-family: var();
            font-size: 15px;
            color: var(--color-base);
            font-family: var(--font-main-title);
            font-size: var(--size-main-title);
        }
        .footer_developers_container{
            padding: 40px 0 0 0;
            color: var(--color-base);
            
            text-align: center;
            font-size: 15px;
            
        }
        .footer_developers_container h6{
          font-family: var(--font-button-and-body);
          font-size: var(--size-button-and-body);
          
      }
        .hexagon {
            position: absolute;
            top:0;
            height: 50px;
            object-fit: contain;
            box-sizing: border-box;
            overflow: hidden;
            visibility: hidden;
        } 

        .footer_developers_container p{
          

          font-family: var(--font-subtitle);
          font-size: var(--size-button-and-body);
        }
        .footer_developers_container .footer_developers{
            margin: 10px 5px;
            box-sizing: border-box;
            width: 100%;
            display: flex;
            gap: 20px;
            text-align: center;
            
        }

@media (min-width: 769px) and (max-width: 1824px) {
    .hexagon {
        position: absolute;
        left:0;
        height: 250px;
        object-fit: contain;
        box-sizing: border-box;
        overflow: hidden;
        
    }
}


/* animacion del banner */
.glowing {
  visibility: hidden;
}
.glowing span {
    position: absolute;
    top: calc(20px * var(--i));
    left: calc(80px * var(--i));
    bottom: calc(80px * var(--i));
    right: calc(80px * var(--i));
  }
  
  .glowing span::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -8px;
    width: 3px;
    height: 3px;
    background: #f00;
    border-radius: 50%;
  }
  
  .glowing span:nth-child(3n + 1)::before {
    background: rgb(171, 180, 161);
    box-shadow: 0 0 20px rgb(171, 180, 161),
      0 0 10px rgb(171, 180, 161),
      0 0 20px rgb(171, 180, 161),
      0 0 30px rgb(171, 180, 161),
      0 0 0 2px rgba(134,255,0,.1);
  }
  
  .glowing span:nth-child(3n + 2)::before {
    background: rgba(255,214,0,1);
    box-shadow: 0 0 20px rgba(255,214,0,1),
      0 0 10px rgba(255,214,0,1),
      0 0 20px rgba(255,214,0,1),
      0 0 30px rgba(255,214,0,1),
      0 0 0 2px rgba(255,214,0,.1);
  }
  
  .glowing span:nth-child(3n + 3)::before {
    background: rgba(0,226,255,1);
    box-shadow: 0 0 20px rgba(0,226,255,1),
      0 0 10px rgba(0,226,255,1),
      0 0 20px rgba(0,226,255,1),
      0 0 30px rgba(0,226,255,1),
      0 0 0 2px rgba(0,226,255,.1);
  }
  
  .glowing span:nth-child(3n + 1) {
    animation: animate 30s alternate infinite;
  }
  
  .glowing span:nth-child(3n + 2) {
    animation: animate-reverse 10s alternate infinite;
  }
  
  .glowing span:nth-child(3n + 3) {
    animation: animate 18s alternate infinite; 
  }

  .glowing span:nth-child(3n + 4) {
    animation: animate 11s alternate infinite; 
  }

  .glowing span:nth-child(3n + 5) {
    animation: animate 8s alternate infinite; 
  }
  
  @keyframes animate {
    0% {
      transform: translateX(780px);
      opacity: 1;
    }
    10% {
      
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    30% {
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
    50% {
      transform: translateX(50px);
      opacity: 0;
    }
    60% {
        opacity: 0;
    }
    70% {
        opacity: 1;
    }
    80% {
        opacity: 0;
    }
    90% {
        opacity: 1;
    }
    100% {
      transform: translateX(1360px);
      opacity: 1;
    }
}
  
  @keyframes animate-reverse {
    0% {
        transform: translateX(180px);
        opacity: 1;
      }
      10% {
          opacity: 0;
      }
      20% {
          opacity: 1;
      }
      30% {
          opacity: 0;
      }
      40% {
          opacity: 1;
      }
      50% {
        transform: translateX(50px);
        opacity: 1;
      }
      60% {
        opacity: 0;
    }
    70% {
        opacity: 1;
    }
    80% {
        opacity: 0;
    }
    90% {
        opacity: 1;
    }
      100% {
        transform: translateX(360px);
        opacity: 0;
      }
  }

  .activate_dark_mode_additions {
    visibility: visible;
  }
  