main {
    width: 100%;
    background-color:  white;
    display: flex;
    flex-direction: column;
    /* height: 1350px; */
    padding: var(--padding-X2);
    box-sizing: var(--forced-contain);
    box-sizing: var(--forced-contain);
    overflow: scroll;
}
    .main_products_title_container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: var(--margin-Y);
        padding: var(--padding-X3);
        font-family: var(--font-subtitle);
        font-size: var(--size-subtitle);
    }
        .main_products_select_menu select{
            width: 150px;
            height: 40px;
            font-family: var();
            border-radius: 2px;
            border: 1px solid var(--secondary-color);
            padding-left: 15px;
        }
    .main_products_display_container {
        /* border: 1px dashed var(--secondary-color); */
        width: 100%;
        
        padding: var(--padding-X3);
        box-sizing: var(--forced-contain);
        
        /* display: grid;
        grid-template-columns: repeat(3,1fr);
        justify-content: center; */

        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
        

          
        
        overflow: hidden;
    }
        .products_display {
            margin: var(--margin-Y);
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: center;
            background-color: transparent;
            cursor: pointer;   
            border: 1px solid rgba(0, 0, 0, 0.137);
            border-radius: 18px;
            padding: 15px 5px;
            
        }
            .products_display button {
                cursor: pointer;
            }
            .product_img {
                width: 100%;
                height: 300px;
                object-fit: contain;
                filter: drop-shadow(5px 5px 1px #04040a87);       
            }
            .product_img:hover {
                filter: drop-shadow(5px 5px 1px #04040a);
                transform: scale(1.1);
                transition: 1s;
            }
            .price {
                padding: 10px 0;
                font-size: 20px;
                font-weight: 900;
            }
            .product_name {
                width: 80%;
                text-align: center;
            }
        .main_products_btn_container {
            display: grid;
            place-items: center;
            margin: var(--margin-Y);
        }
            .main_products_btn{
                font-family: var();
                padding: 10px;
                border: 2px solid var(--secondary-color);
                background-color: transparent;
                cursor: pointer;
                margin-bottom: 150px;
                font-family: var(--font-button-and-body);
                font-size: var(--size-button-and-body);
            }
            
            .main_product_select_btn {
                font-family: var();
                width: 40%;
                padding: 10px;
                border: 1px solid var(--secondary-color);
                background-color: transparent;
                cursor: pointer;
                border-radius: 10px;
                background-color: rgba(218, 223, 227, 0.278);
            }
            .main_product_select_container {
                display: flex;
                justify-content: space-evenly;
            }
            .product_view {
                
            }
            .product_view:hover {
                background-color: rgba(21, 21, 92, 0.353);
            }
            .product_confirm {
                
            }
            .product_confirm:hover {
                background-color: rgba(92, 21, 34, 0.173);
                
            }
            .change_size{
                height: 100%;
                
                
            }

            @media (max-width: 768px) {
                main {
                    max-height: 1700px;
                    padding: var(--padding-X2);
                }
                .main_products_title_container {
                    padding: var(--padding-X);
                    
                }
                .main_products_display_container {
                    padding: var(--padding-X);
                    box-sizing: var(--forced-contain);
                    grid-template-rows: repeat(5,1fr);
                    grid-template-columns: repeat(2,1fr);
                    gap: 20px;
                }

                .products_display {
                    
                    width: 250px;
                    height: 370px;
                    
                }
            }

         /*    .expand_products {
                 ;
            } */

            #get_select {
                /* background-color: #131f42; */
            }