@font-face {
    font-family: 'Helvetica Neue, Medium';
    src: url(/assets/fonts/PragmaticaMedium.otf);
}
@font-face {
    font-family: 'Helvetica Neue, Bold';
    src: url(/assets/fonts/FreeSansBold.otf);
}
:root {
    /* las fuentes usadas a lo largo del website */
    --font-main-title: 'Helvetica Neue, Medium';
    --size-main-title: 24px;
    --font-subtitle: 'Helvetica Neue, Bold';
    --size-subtitle: 20px;
    --font-button-and-body: 'Helvetica Neue, Bold';
    --size-button-and-body: 16px;
    /* estas variables son los colores que se usan a lo largo de la pagina en el light mode */
    --primary-color: #eb4a5a;
    --secondary-color: #274672;
    --color-base: #f6f6f6;
    --primary-color-dark:#142351;
    --color-base-dark: #2b356e;
    /* estas dos variables juntas mantiene el mismo padding en cada caja */
        /* (breakpoints sm) */
    --padding-X: 0 30px;
    --forced-contain: border-box;
        /* (breakpoints md+) */
    --padding-X2: 0 50px;
    --forced-contain: border-box;
    /* manejar un margen constante de 25px entre elementos del mismo contenedor */
        /* (breakpoints sm) */
    --margin-Y: 25px 0;
    /* (breakpoints md+) */
    --margin-Y2: 50px 0;
    
}